html {
  background: black;
}

body {
  background: white;
  width: 200px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 5px blue solid;
  border-radius: 10%;
}

button {
  padding: 10px 20px;
  margin: 5px;
  min-width: 80%;
  border: 2px blue solid;
  transition: transform 0.1s ease-in-out;
  background-color: white;
  color: black;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

h2 {
  font-style: italic;
  user-select: none;
}
